@page
@model PsyWagonLestes.Pages.Cars.IndexModel

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/CarIndex.css">
<link rel="stylesheet" href="~/css/site.css">
<h1>Автомобили</h1>

<p>
    <a asp-page="Create">Добавить</a>
</p>
<form>
    <p>
        <select asp-for="CarBrand" asp-items="Model.Brands">
            <option value="">Марка машины</option>
        </select>
        Модель машины: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Поиск" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Название
            </th>
            <th>
                Марка
            </th>
            <th>
                Дата выпуска
            </th>
            <th>
                Цена
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Car)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Изменить</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Подробнее</a> |
                    <a  asp-page="./Delete" asp-route-id="@item.ID">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="tabs">
    <input id="tab1" type="radio" name="tabs" checked>
    <label for="tab1">Оплата год</label>
    <input id="tab2" type="radio" name="tabs">
    <label for="tab2">Оплата три года</label>
    <span class="switch"></span>

    <section id="content1">
        <div class="pricing-wrapper">
            <div class="pricing-tables">
                <div class="pricing-item">
                    <div class="item-inner">
                        <div class="item-header">
                            <div class="title">
                                <b>До 600.000</b>
                                <span>Эконом автомобили</span>
                            </div>
                            <div class="price">
                                <b>50.000 ₽</b><span>в месяц</span>
                            </div>
                        </div>
                        <ul class="features">
                            <li>Гарантия магазина</li>
                            <li>Комплект ковриков</li>
                            <li>Ароматизатор в салон</li>
                        </ul>
                        <a href="" class="pricing-button">Выбрать</a>
                    </div>
                </div>
                <div class="pricing-item">
                    <div class="item-inner">
                        <div class="item-header">
                            <div class="title">
                                <b>До 1.000.000</b>
                                <span>Средний класс</span>
                            </div>
                            <div class="price">
                                <b>85.000 ₽</b><span>в месяц</span>
                            </div>
                        </div>
                        <ul class="features">
                            <li>Гарантия магазина</li>
                            <li>Комплект ковриков и чехлов</li>
                            <li>Гарантийное обслуживание</li>
                        </ul>
                        <a href="" class="pricing-button">Выбрать</a>
                    </div>
                </div>
                <div class="pricing-item">
                    <div class="item-inner">
                        <div class="item-header">
                            <div class="title">
                                <b>От 1.000.000</b>
                                <span>Люкс</span>
                            </div>
                            <div class="price">
                                <b>от 90.000 ₽</b><span>в месяц</span>
                            </div>
                        </div>
                        <ul class="features">
                            <li>Год гарантийного обслуживания</li>
                            <li>Комплект зимней резины</li>
                            <li>Чехлы и ароматизаторы для салона</li>
                        </ul>
                        <a href="" class="pricing-button">Выбрать</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="content2">
        <div class="pricing-wrapper">
            <div class="pricing-tables">
                <div class="pricing-item">
                    <div class="item-inner">
                        <div class="item-header">
                            <div class="title">
                                <b>До 600.000</b>
                                <span>Эконом автомобили</span>
                            </div>
                            <div class="price">
                                <b>7000 ₽</b><span>в месяц</span>
                            </div>
                        </div>
                        <ul class="features">
                            <li>Гарантия магазина</li>
                            <li>Комплект ковриков</li>
                            <li>Ароматизатор в салон</li>
                        </ul>
                        <a href="" class="pricing-button">Выбрать</a>
                    </div>
                </div>
                <div class="pricing-item">
                    <div class="item-inner">
                        <div class="item-header">
                            <div class="title">
                                <b>До 1.000.000</b>
                                <span>Средний класс</span>
                            </div>
                            <div class="price">
                                <b>28.000 ₽</b><span>в месяц</span>
                            </div>
                        </div>
                        <ul class="features">
                            <li>Гарантия магазина</li>
                            <li>Комплект ковриков и чехлов</li>
                            <li>Гарантийное обслуживание</li>
                        </ul>
                        <a href="" class="pricing-button">Выбрать</a>
                    </div>
                </div>
                <div class="pricing-item">
                    <div class="item-inner">
                        <div class="item-header">
                            <div class="title">
                                <b>От 1.000.000</b>
                                <span>Люкс</span>
                            </div>
                            <div class="price">
                                <b>от 30.000 ₽</b><span>в месяц</span>
                            </div>
                        </div>
                        <ul class="features">
                            <li>Год гарантийного обслуживания</li>
                            <li>Комплект зимней резины</li>
                            <li>Чехлы и ароматизаторы для салона</li>
                        </ul>
                        <a href="" class="pricing-button">Выбрать</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>