@page
@model PsyWagonLestes.Pages.ItemsPage.IndexModel

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/CarIndex.css">
<link rel="stylesheet" href="~/css/site.css">
<h1>Расходные материалы</h1>

<p>
    <a asp-page="Create">Добавить товар</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Название
            </th>
            <th>
                Производитель
            </th>
            <th>
                Количество
            </th>
            <th>
                Цена
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Item) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Изменить</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Подробнее</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
